@import "bourbon/bourbon";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../imgs/patterns/brickwall/brickwall.png);
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
}

//turn off default styling for lists and links
a {
    list-style-type: none;
    text-decoration: none;
    text-emphasis-color: white;
    text-decoration-color: white;
    color: black;
    text-align: center;
    padding: 0;
}

.cards {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(stretch);
    @include justify-content(flex-start);
    min-height: 100vh;
}

//navbar setting
.navbar {
    min-height: 75px;
    @include outer-container(100%);
    @include flex-grow(1);
    margin: 0;
    padding: 0;
    border: 0;
    
    #github {
        @include shift(4);
        @include span-columns(1, block-collapse);
    }
    
    #linkedin {
        @include span-columns(1, block-collapse);
        @include shift(2);
    }
}

a > img {
    position: relative;
    bottom: -12px;
}

//card is a section of the page
.card {
    padding: 0;
    marigin: 0;
    border: 0;
    overflow: hidden;
   
    @include flex-grow(3);
    
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
}

//testing stuff for first card neat layout
#name {
    text-align: center;
    font-size: 500%;
}

//Resume settings

#resume {
    
    display: none;
    
}

.resume_section {
    @include outer-container(70%);
}

.resume_title {
    text-align: center;
}

#courses {
    text-align: center;
    #courses_c1 {
        @include span-columns(3);
        @include shift(2);
    }

    #courses_c2 {
        @include span-columns(3);
        @include shift(2);
    }
}

#experience {
    .exp_info {
        
        .exp_info_c1 {
            @include span-columns(3);
        }
        
        .exp_info_c2 {
            text-align: right;
            @include shift(6);
            @include span-columns(3);
        }
    }
    .exp_description {
        @include span-columns(10);
        @include shift(1);
    }
}

#class_projects {
    
    .project {
        
        .project_title {
            
            @include span-columns(12);
        }
        
        .project_description {
            @include span-columns(10);
            @include shift(1);
        }
    }
}

#skills {
    text-align: center;
    #skills_c1 {
        @include span-columns(2);
        @include shift(2);
    }
    
    #skills_c2 {
        @include shift(1);
        @include span-columns(2);
    }
    
    #skills_c3 {
        @include shift(1);
        @include span-columns(2);
    }
}


//Settings for mobile screens
@media only screen and (max-device-width: 700px) {
    #name {
        font-size: 1000%;
    }
    #titles {
        font-size: 300%;
    }
    #education {
        font-size: 200%;
    }
    a > img {
        height: 100px;
    }
}
