@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  background-image: url(../imgs/patterns/brickwall/brickwall.png);
  font-family: 'Amatic SC', cursive;
  font-weight: bold; }

ul, li, a {
  list-style-type: none;
  text-decoration: none;
  text-emphasis-color: white;
  text-decoration-color: white;
  color: black;
  text-align: center;
  padding: 0; }

.cards {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  box-align: stretch;
  -webkit-align-items: stretch;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  -o-align-items: stretch;
  align-items: stretch;
  -ms-flex-align: stretch;
  -webkit-box-pack: start;
  -moz-box-pack: start;
  box-pack: start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: start;
  min-height: 100vh; }

.navbar {
  min-height: 75px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  flex-grow: 1;
  -ms-flex-positive: 1;
  margin: 0;
  padding: 0;
  border: 0; }
  .navbar::after {
    clear: both;
    content: "";
    display: table; }
  .navbar #github {
    margin-left: 34.11922%;
    float: left;
    display: block;
    width: 8.5298%; }
    .navbar #github:last-child {
      width: 6.17215%; }
  .navbar #linkedin {
    float: left;
    display: block;
    width: 8.5298%;
    margin-left: 17.05961%; }
    .navbar #linkedin:last-child {
      width: 6.17215%; }

a > img {
  position: relative;
  bottom: -12px; }

.card {
  padding: 0;
  marigin: 0;
  border: 0;
  overflow: hidden;
  -webkit-flex-grow: 3;
  -moz-flex-grow: 3;
  flex-grow: 3;
  -ms-flex-positive: 3;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  box-direction: normal;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }

#name {
  text-align: center;
  font-size: 500%; }

@media only screen and (max-device-width: 700px) {
  #name {
    font-size: 1000%; }

  #titles {
    font-size: 300%; }

  #education {
    font-size: 200%; }

  a > img {
    height: 100px; } }

/*# sourceMappingURL=style.css.map */
