@import "bourbon/bourbon";
@import "neat/neat";
@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700);

html, body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../imgs/patterns/brickwall/brickwall.png);
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
}

//turn off default styling for lists and links
ul, li, a {
    list-style-type: none;
    text-decoration: none;
    text-emphasis-color: white;
    text-decoration-color: white;
    color: black;
    text-align: center;
    padding: 0;
}

.cards {
    @include display(flex);
    @include flex-direction(column);
    @include align-items(stretch);
    @include justify-content(flex-start);
    min-height: 100vh;
}

//navbar setting
.navbar {
    height: 200px;
    @include outer-container(100%);
    @include flex-grow(0);
    //background-image: url(../imgs/pattern.png);
    margin: 0;
    padding: 0;
    border: 0;
    
    #github {
        @include shift(4);
        @include span-columns(1, block-collapse);
    }
    
    #linkedin {
        @include span-columns(1, block-collapse);
        @include shift(2);
    }
}

a > img {
    position: relative;
    bottom: -12px;
}

//card is a section of the page
.card {
    padding: 0;
    marigin: 0;
    border: 0;
    overflow: hidden;
    @include flex-grow(1);
    
    @include display(flex);
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
}

//testing stuff for first card neat layout
#name {
    text-align: center;
    font-size: 500%;
}

/*#card0 {
    @include outer-container(100%);
    background-image: url(../imgs/patterns/small_steps/small_steps.png);
}*/