@import "bourbon/bourbon";
//@import "neat/neat";

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}
//turn off default styling for lists and links
ul, li, a {
    list-style-type: none;
    text-decoration: none;
}

#nav {
    border: solid black 1px;
}

.card {
    width: 100%;
    height: 100vh;
    padding: 0;
    marigin: 0;
    border: 0;
    overflow: hidden;
}

h1, h2 {
    padding: 0;
    marigin: 0;
    border: 0;
}
#card1 {
    background-color: aquamarine;
    border: 0;
}
#card2 {
    background-color: aqua;
}
